<!DOCTYPE html>
<html>
<head>
	<title>User Management</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
</head>
<body>
	{% if request.user.is_authenticated %}
		<h5>Logged in as <span style="color:blue"> {{request.user}} </span></h5>
		<a href="/logout/">Logout</a>
        <a href="{% url 'authapp:passwordchange' %}">Change Password</a>
	
	{% else %}
	<a href="/signup/">Signup</a>
	<a href="/login/">Login</a>

	{% endif %}
	<a href="{% url 'authapp:bloglist' %}">Blog List</a>
    
    <form method="GET" action="{% url 'authapp:search' %}">
        <input type="text" name="query">
        <button>Search</button>
    </form>
	

	{% block content %}
	{% endblock %}


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [100, 200, 50, 80, 20, 10],
            backgroundColor: [
                'red',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
                'red',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
    {% block js %}

    {% endblock %}




</body>
</html>