{% extends "base.html" %}
{% block content %}
	<li><h3>{{blogobject.title}}</h3></li>
	<img src="{{blogobject.image.url}}" width="500">
	<p>{{blogobject.content}}</p>
	<p>Created by: <span style="color: blue;">{{blogobject.author.username}}</span> at {{blogobject.date}}</p>


	<h3>{{blogobject.comment_set.all.count}} comment <span>on</span><label>{{blogobject.title}}</label></h3>
	{% for comment in blogobject.comment_set.all %}
		<h4>{{comment.commenter}}</h4>
		<h4>{{comment.date}}</h4>
		<p>{{comment.comment}}</p>
		<a href="{% url 'authapp:commentdelete' comment.pk %}">Delete</a>
		<hr>
	{% endfor %}
	<h3>Leave your comment</h3>
	<p>Please write your comment here...</p>
	<form method="POST" action="{% url 'authapp:commentcreate' blogobject.pk %}">
		{% csrf_token %}
		{{commentform.as_p}}
		<button>Comment</button>
	</form>
{% endblock %}