{% extends "base.html" %}
{% block content %}
	<h4>Create Blog</h4>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.as_p}}
		<button>Save</button>
	</form>
{% endblock %}