{% extends "base.html" %}
{% block content %}
	<h3> All Blogs</h3>
	{% for blog in allblog %}
		<li><h4><a href="{% url 'authapp:blogdetail' blog.id %}">{{blog.title}}</a></h4></li>
		<img src="{{blog.image.url}}" width="200">
		<p>Created by: <span style="color: blue;">{{blog.author.email}}</span> at {{blog.date|timesince}} ago</p>
		<a href="{% url 'authapp:blogupdate' blog.id %}">Update</a>
		<a href="{% url 'authapp:blogdelete' blog.id %}">Delete</a>
	{% endfor %}
{% endblock %}