{% extends "base.html" %}


{% block content %}
	{% if error %}
		<p>Error: {{error}}</p>
	{% endif %}
	<h3>Change Password</h3>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<BUTTON>Change</BUTTON>
	</form>
{% endblock %}