{% extends "base.html" %}


{% block content %}
	<h3>Search Results</h3><hr>
	{% for blog in searched_blogs %}
		<li><a href="{% url 'authapp:blogdetail' blog.pk %}">{{blog.title}}</a></li>

		{% empty %}
		<h5>No results Found...</h5>

	{% endfor %}
{% endblock %}