{% extends "base.html" %}


{% block content %}

	<h4>Sign Up Form</h4>
	<form method="POST">
		{% csrf_token %}
		<p id="errorp"></p>
		{{form.as_p}}
		<button id="btn">Sign Up</button>
	</form>

{% endblock %}



{% block js %}
	
	<script type="text/javascript">
		$(document).ready(function() {
			// alert("Jquery worked");

			// $("#id_username").on("keyup", function() {
			// 	// alert("Keyup fucntion");
			// 	var a = $(this).val();
			// 	// var a = $("#id_username").val();
			// 	alert(a);
			// });

			$("#id_username").on("change", function() {
				// alert("Keyup fucntion");
				var a = $(this).val();
				// var a = $("#id_username").val();
				// alert(a);
				
				$.ajax({
					method: "get",
					url: "{% url 'authapp:usernamechecker' %}",
					data: {
						"uname":a,
					},
					success: function(data) {
						// alert("success");
						// alert(data.uname)
						if(data.response=="yes") {
							$("#errorp").text("Username not available");
							$("#errorp").css("color","red");
							$("#btn").attr("disabled","true");
						}
						else{
							$("#errorp").text("Username available");
							$("#errorp").css("color","green");
							$("#btn").removeAttr("disabled");
						}
							
					}
				})
			});

		})
	</script>

{% endblock %}